/*google fonts import*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

/*body*/
body {
  font-family: "Roboto";
}

/**/
.row {
  width: 100%;
}

/* title section */
#title {
  padding: 3% 7%;
}

/*navbar*/
.navbar {
  align-items: center;
}

.navbar-brand {
  width: 154px;
  height: 50px;
}

.nav-item {
  margin: 0 20px;
}

.nav-link:hover {
  color: #ec2e93 !important;
}

/*title-text*/
.title {
  padding-top: 100px;
}

.title-heading {
  font-weight: 900;
  font-size: 3rem;
  line-height: 1.5;
}

.title-paragraph {
  font-weight: 300;
  font-size: 1.5rem;
  line-height: 2;
}

/*title-image*/
.clutch-image-title {
  text-align: center;
}

.clutch-subtitle {
  display: block;
  width: 50%;
  margin: 20px auto 0;
}

/*bullets-about*/
#bullets-about {
  text-align: center;
  padding: 6% 7%;
}

#bullets-about strong {
  display: block;
  margin-top: 10px;
}

#bullets-about .col-lg-2 {
  margin-top: 50px;
}

/* clutch review */
#clutch-review {
  padding: 3% 7%;
}

.clutch-review-heading {
  line-height: 1.4;
  font-weight: 700;
  margin-top: 50px;
  font-size: 2rem;
}

.clutch-review-paragraph {
  font-weight: normal;
  line-height: 1.5;
  color: #464445;
}

.clutch-review-rating {
  margin: 2px;
}

.five-star {
  height: 25px;
  width: 25px;
}

.clutch-review-img {
  margin-bottom: 20px;
}

/* carousel */
.carousel-item {
  padding: 3% 15%;
  text-align: center;
}

.second-slide-awards img {
    width: 150px;
    margin: 20px;
}

/* case-studies */
#case-studies {
    padding: 3% 7%;
}

#case-studies img {
    width: 100%;
}

#case-studies .card {
    margin: 30px 0;
}

/* people-who-trust-us */
#people-who-trust-us {
    position: absolute;
    height: 100%;
    width: 100%;
    background-position: center;
}

#people-who-trust-us .card {
    margin: 20% auto;
    width: 40rem;
    padding: 40px;
}

/* tech stack */

#tech-stack {
    padding: 3% 7%;
    top: 900px;
    position: relative;
    width: 100%;
    margin-top: 100px;
}


/* blogs */
#blogs {
    padding: 3% 7%;
    padding: 3% 7%;
    top: 900px;
    position: relative;
    width: 100%;
    margin-top: 100px;
}
#blogs .card-top-img  img {
    width: 100%;
}

#blogs .card {
    height: 28rem;
    margin: 30px 10px; 
    border: 1px solid black;
}


/* footer */
/* apne bola tha ki aap footer achha batate ho isliye maine footer apke chorr diya */

/* I tried to keep code organised */


/* small laptop and ipad view */ 
@media screen and (max-width: 1024px) {
   #title {
       padding: 2% 4%;
   }

    .five-star {
        width: 13px;
        height: 13px;
    }

    #tech-stack {
        top: 1050px;
    }

    #blogs {
        top: 1050px;
    }
}


/* tablets view */
@media screen and (max-width: 991px) {
    .title-heading {
        text-align: center;
    }

    .title-paragraph {
        text-align: center;
        margin-bottom: 20px;
    }

    #blogs .card {
        height: 32rem;
    }

}

/* mobile view */
@media screen and (max-width: 590px) {
    #people-who-trust-us .card {
        width: 90%;
    }

    #tech-stack {
        top: 850px;
    }

    #blogs {
        top: 850px;
    }
}

/* 99% responsive on android mobile and 100% on tablet and 95% responsive on iphones and 100% on all size laptop */